<header class="site-header">
  <nav class="site-navi">
    <h1 class="site-title"><a href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
    <iframe src="https://duckduckgo.com/search.html?site=jreisinger.github.io/notes,github.com/jreisinger/blog&prefill=Search Notes via DDG" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
    <ul class="site-navi-items">
      {{- range .Site.Menus.main }}
      <li class="site-navi-item-{{ .Identifier }}"><a href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a></li>
      {{- end }}
    </ul>

    <!-- See on GitHub button -->
    <ul>
      {{ if and (or .IsPage .IsSection) .Site.Params.editURL }}
        {{ $File := .File }}
        {{ $Site := .Site }}
        {{with $File.Path }}
        <a href="{{ $Site.Params.editURL }}{{ replace $File.Dir "\\" "/" }}{{ $File.LogicalName }}">See on GitHub</a>
        {{ end }}
      {{ end }}
    </ul>

  </nav>
</header>
<hr class="site-header-bottom">
